.example-card {
  max-width: auto;
  margin: 0 auto;
  margin-left: 40%;
  margin-top: 50px;
}

.example-header-image {
  background-image: url('/assets/quiz.png');
  background-size: cover;
}


/* .truncate{
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
} */
